.container{
    display: flex;
    flex-direction: column;
    width: 35%; 
    height: 55%;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    background: #ED4133;
    border-radius: 5px;
    padding: 20px 50px;
    color: white;
 
    transform: translate(0%, 30%);
}
input{
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    justify-content: space-evenly;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #E99771;
    color: white;
}