<!-- <div class="container">
 
</div> -->
<form (ngSubmit)="submit()" class="container" #form="ngForm">
    <h2>Login</h2>
    <div>
        <div class="input">
            <p>Email:</p>
            <input type="text" [(ngModel)]="login.email" name="login.email" required>
        </div>
        <div class="input">
            <p>Password:</p>
            <input type="text" [(ngModel)]="login.senha" name="login.password" required>
        </div>
    </div>
    <button type="submit">Entrar</button>
    <!-- <p [routerLink]="['/cadastre-se']">Cadastre-se</p> -->
</form>