.alguma-coisa{
    width: 100%;
    height: 95%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.add{
    display: flex;
    margin-top: -60px;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 20px;
}
.add-button{
    color: white;
    padding: 6px 6px 0 6px;
    background-color: #2A2B44;
    display: inline-block;
    border-radius: 100px;
    justify-content: end;
    position: fixed;
}
.add-button:hover{
    padding: 9px 9px 2px 9px;
    transition: 0.2s;
}
.clear{
    clear: both;
}
.buttons{
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.listar{
    display: flex;
    margin-top: -50px;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 20px;
}
.listar-button{
    color: transparent;
    padding: 6px 6px 0 6px;
    background-color: white;
    display: inline-block;
    border-radius: 100px;
    justify-content: end;
    position: fixed;
}
.listar-button:hover{
    padding: 9px 9px 2px 9px;
    transition: 0.2s;
}
button{
    border: none;
    background-color: transparent;
}