<div class="container">
   <u *ngFor="let usuario of usuarios | async">
      <li >
         <div class="card-usuarios">
            <a href="" class="usuarios">
               <div >
                  <div>
                     <mat-icon aria-hidden="true">{{icone(usuario.genero)}}</mat-icon>
                  </div>
                  <div>
                     <p>{{usuario.nome}}</p>
                     <p>{{usuario.rg}}</p>
                  </div>
               </div>
            </a>
            <div class="buttons">
               <button class="button-edit">
                  <a href="" [routerLink]="['editar-usuarios/', usuario.id]">
                     <mat-icon aria-hidden="true" fontIcon="edit"></mat-icon>
                  </a>
               </button>
               <button class="button-delete">
                  <mat-icon aria-hidden="true" fontIcon="delete" (click)="excluirUsuario(usuario.id)"></mat-icon>
               </button>
            </div>
         </div>
      </li>
    </u>
   </div>
   <div class="add">
      <div class='add-button' [routerLink]="['/add-usuarios']">
         <mat-icon aria-hidden="true" fontIcon="add"></mat-icon>
      </div>
   </div>
