<div class="container">
    <u>
        <li>
           <a href="" class="usuarios">
            <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
            </div>
            <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
            </div>
           </a>
        </li>
        <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
         <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
         <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
         <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
         <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
         <li>
            <a href="" class="usuarios">
             <div>
                <mat-icon aria-hidden="true" fontIcon="menu"></mat-icon>
             </div>
             <div>
                <p>Genival dos Santos</p>
                <p>N CNH: 123456789</p>
             </div>
            </a>
         </li>
       
    </u>
</div>