<div class="container" >
    <div class="titulo">
        <h3>Informações Pessoais</h3>
    </div>
   <form action="" method="post" >
        <div class="dados-pessoais">
            <div class="item">
                <p>Foto de Perfil:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Nome Completo:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Data de Nascimento:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>CPF:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Gênero:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>CNH:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Categoria:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Validade:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Email:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>N Telefone:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Endereço:</p>
                <input type="text">
            </div>
        </div>
        <div class="titulo">
            <h3>Histórico</h3>
        </div>
        <div class="dados-pessoais">
            <div class="item">
                <p>Histórico de infrações de transito:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Histórico de acidentes:</p>
                <input type="text">
            </div>
            
        </div> 
        <div class="titulo">
            <h3>Dados Bancários</h3>
        </div>
        <div class="dados-pessoais">
            <div class="item">
                <p>Banco:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Tipo:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>N da Conta:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>Dígito Verificador:</p>
                <input type="text">
            </div>
        </div> 
        <div class="titulo">
            <h3>Emergência</h3>
        </div>
        <div class="dados-pessoais">
            <div class="item">
                <p>Nome:</p>
                <input type="text">
            </div>
            <div class="item">
                <p>N de Telefone:</p>
                <input type="text">
            </div>
        </div> 
        <!-- <div class="titulo">
            <h3>Observações</h3>
        </div>
        <div class="dados-pessoais">
            <textarea name="" id="" cols="100" minlength="10" rows="10"></textarea>
        </div>  -->
        <div class="submit">
            <button type="submit">Salvar</button>
        </div>
   </form>
</div>
 