.container{
    display: flex;
    flex-direction: column;
    width: 35%; 
    min-width: 290px;
    height: 45%;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    background: #ED4133;
    border-radius: 7px;
    padding: 20px 50px;
    color: white;
    transform: translate(0%, 30%);
}
input{
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    max-width: 70%;
    min-width: 60%;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    justify-content: space-around;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #E99771;
    color: white;
}