<div class="container">
   <u  *ngFor="let veiculo of veiculos | async">
         <li>
            <a [routerLink]="['/mostrar-usuarios/', veiculo.id]"> 
               <div>{{veiculo.placa}} - {{veiculo.modelo}} - {{veiculo.anoModelo}} - {{veiculo.cor}}</div>
            </a>
            <button class="button-delete" (click)="excluirVeiculo(veiculo.id)">
               <mat-icon aria-hidden="true" fontIcon="delete"></mat-icon>
            </button>
         </li>
   </u>
</div>
<div class="add">
   <div class="add-button" [routerLink]="['/add-veiculos']">
      <mat-icon aria-hidden="true" fontIcon="add"></mat-icon>
   </div>
</div>