   <div class="container">
      <u  *ngFor="let veiculo of veiculos | async">
          <li>
             <a href=""> 
               <div>{{veiculo.id}} - {{veiculo.placa}} - {{veiculo.modelo}} - {{veiculo.anoModelo}} - {{veiculo.cor}}</div>
               <button class="button-delete">
                  <mat-icon aria-hidden="true" fontIcon="delete"></mat-icon>
               </button>
             </a>
          </li>
      </u>
  </div>
        <!-- <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
    </u>
</div> -->