   <div class="container">
      <u  *ngFor="let veiculo of veiculos | async">
          <li>
             <a> 
               <div>{{veiculo.id}} - {{veiculo.placa}} - {{veiculo.modelo}} - {{veiculo.anoModelo}} - {{veiculo.cor}}</div>
            </a>
            <button class="button-delete" (click)="excluirVeiculo(veiculo.id)">
               <mat-icon aria-hidden="true" fontIcon="delete"></mat-icon>
            </button>
          </li>
      </u>
  </div>
        <!-- <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
        <li>
           <a href=""> 01 - Fiat Uno 2014 - Genival dos Santos</a>
        </li>
    </u>
</div> -->