.container{
    background-color: #2A2B44;
    display: flex;
    justify-content: center;
    border: 1px solid orangered;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    
}
li{
    padding: 10px;
    color: white;
    display: inline-block;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
}
a{
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}