<div class="container-nav">
  <div class="logo">
    <button (click)="toggleDisplay()" type="menu"><mat-icon aria-hidden="true" fontIcon="menu"></mat-icon></button>
    <h3>FrotHub</h3>
  </div>
  <div class="search">
    <input type="text">
  </div>
  <div class="perfil">
    <button class="button"  mat-button [matMenuTriggerFor]="menu">
      <!-- <mat-icon aria-hidden="true" fontIcon="account">account_circle</mat-icon> -->
      <mat-icon aria-hidden="false" class="person">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="button" mat-menu-item>Configurações</button>
      <button class="button" mat-menu-item [routerLink]="['']">Sair</button>
    </mat-menu>
  </div>
</div>
<div class="corpo">
  <div [hidden]="!visible" class="sidenav">
    <ul >
      <li>
        <a [routerLink]="['/veiculos']">
            <i class="fa-solid fa-chart-simple sidebar-icon"></i>
            <p>veiculos</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/usuarios']">
            <i class="fa-solid fa-chart-simple sidebar-icon"></i>
            <p>usuarios</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="conteudo">
    <router-outlet></router-outlet>  
  </div>
</div>
