*{
    margin: 0;
    padding: 0;
}
html, body { 
    height: 100%; 
    width: 100%;
    background-color: #FEEBDD;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
li{
    text-decoration: none;
    list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
