.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #2A2B44;
    color: white;
    border-radius: 20px;
    padding: 50px 10px;
    justify-content: center;
}
.caixa{
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
}
input{
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 0 5px;
}
p{
    padding: 0 5px;
    margin: 10px;
}
textarea, .textarea{
    min-width: 95%;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
button{
    color: #2A2B44;
    background-color: aliceblue;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}button:hover{
    background-color: rgb(161, 166, 170);
}
.submiter{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: end;
    border: none;
}
.submiter button p{
    margin-bottom: 5px;
}
.observacoes{
    width: 92%;
    text-align: left;
}